<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <div class="ui menu">
        <div class="header item">
            Resume saya
        </div>
        <a class="item">
            About Us
        </a>
        <a class="item">
            Jobs
        </a>
        <a class="item">
            Locations
        </a>
    </div>

    <%= product.title %><br>  
    <%= product.description %>
    <%= product.remark %>
    <%= product.price %>
    <%= product.amount %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
</html>